{% extends 'srs_base.html' %}

{% comment %}
<!-- 
Please see srs_base.html for license information.
-->
{% endcomment %}


{% block pagetitle %}404 Page not found{% endblock %}

{% block maincontent%}
    <div class="row">
      <div class="col-md-12">
  {% if "/feeds/uploader/" in request_path %}
        <p class="text-danger">The username you used for the custom RSS feed is not known.</p>
        <p>Please use one of the usernames listed on the <a href="/users/">uploaders page</a></p>.
  {% else %}
        <p class="text-danger">The page you requested could not be found.</p>
  {% endif %}
      </div>
    </div>
{% endblock %}
