{% extends 'srs_base.html' %}
{% load render_table from django_tables2 %}

{% block listheader %}    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />{% endblock %}

{% block pagetitle %}{{ pagetitle }}{% endblock %}

{% block maincontent %}
        <div class="left">
  {% block search %}{% endblock %}

  {% block result_table %}
            <h2>{{ pagetitle }}</h2>
            <p><br/></p>
            {% if intro_text %}{% for text in intro_text %}<p>{{ text }}</p>{% endfor %}{% endif %}
            <p><br/></p>

            <h3>BA 1v1 Tourney ranking</h3>
{% if table_1v1.data|length == 0 %}
            <p><br/><b>No result.</b><br/></p>
{% else %}
{% render_table table_1v1 %}
{% endif %}

            <h3>Rating history</h3>
{% if table_1v1_history.data|length == 0 %}
            <p><br/><b>No result.</b><br/></p>
{% else %}
{% render_table table_1v1_history %}
{% endif %}
  {% endblock %}
        </div>
{% endblock %}