{% extends 'srs_base.html' %}
{% load comments %}

{% block pagetitle %}Edit {{ replay.title }}{% endblock %}

{% block maincontent%}
        <div class="left">
            <div class="lt"></div>
            <div class="lbox">
                <p><big><b>{{ replay.title }}</b></big></p>
{% include "replay_box.html" %}
            </div>
            <div class="left_articles">
                <h2>Edit this replay</h2>
                <p>You can edit the title, long descriptive text and the tags.</p>
                <p>ATM it is not possible to reupload a spring demo file (.sdf). If you had a broken one, and wish to upload a good one, for now: please PM it Dansan @ spring-forums.</p>
                <p>Regardings tags: Please check the <a href="{% url srs.views.tags %}">list of existing tags</a> first!
                Note that a tag for the team size (1v1, 2v2, 8v8) is added automatically if not present.
                Please do not use <a href="{% url srs.views.maps %}">map names</a> or <a href="{% url srs.views.players %}">player names</a>, as they are categorized separately.</p>
            </div>
            <div class="lt"></div>
            <div class="lbox_long">
                <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit" />
                </form>
            </div>
        </div>
{% endblock %}

