{% extends 'srs_base.html' %}
{% load comments %}

{% comment %}
<!-- 
Please see srs_base.html for license information.
-->
{% endcomment %}

{% block pagetitle %}Edit {{ replay.title }}{% endblock %}

{% block maincontent%}
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-header">Edit this replay</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Readme</h3>
          </div>
          <div class="panel-body">
            <p>You can edit the title, long descriptive text and the tags.</p>
            <p>ATM it is not possible to reupload a spring demo file (.sdf). If you had a broken one, and wish to upload a good one, for now: please PM it Dansan @ spring-forums.</p>
            <p>Regardings tags: Please check the <a href="{% url "srs.views.tags" %}">list of existing tags</a> first!
            Note that a tag for the team size (1v1, 2v2, 8v8) is added automatically if not present.
            Please do not use <a href="{% url "srs.views.maps" %}">map names</a> or <a href="{% url "srs.views.players" %}">player names</a>, as they are categorized separately.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <form class="form-horizontal" action="." method="POST" enctype="multipart/form-data" role="form">
        {% csrf_token %}
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Edit replay "{{ replay.title }}"</h3>
              </div>
              <div class="panel-body">
                {{ form.as_p }}
                <div class="col-lg-8 col-lg-offset-2">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="well">
  {% include "replay_box.html" %}
        </div>
      </div>
    </div>
{% endblock %}