{% extends 'srs_base.html' %}
{% load render_table from django_tables2 %}

{% block listheader %}    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />{% endblock %}

{% block pagetitle %}{{ pagetitle }}{% endblock %}

{% block maincontent %}
        <div class="left">
  {% block search %}{% endblock %}

{% if INITIAL_RATING %}
            <h1>ATM the server is computing all ratings. Please come back in ~30 minutes.</h1>
{% else %}
  {% block result_table %}
            <h2>{{ pagetitle }}</h2>
            <p><br/></p>
            <div class="bar">
	            <ul>
	              {% for game in games %}
	                <li{% if game.name == thisgame.name %} class="active">{{ game.name }}{% else %}><a href="{% url srs.views.hall_of_fame game.abbreviation %}">{{ game.name }}</a>{% endif %}</li>
	              {% endfor %}
	            </ul>
	        </div>
            <p><br/></p>
            {% if intro_text %}{% for text in intro_text %}<p>{{ text }}</p>{% endfor %}{% endif %}
            <p><br/></p>

            <h3>Ranking 1v1</h3>
{% if table_1v1.data|length == 0 %}
            <p><br/><b>No result.</b><br/></p>
{% else %}
{% render_table table_1v1 %}
{% endif %}
            <h3>Ranking Team</h3>
{% if table_team.data|length == 0 %}
            <p><br/><b>No result.</b><br/></p>
{% else %}
{% render_table table_team %}
{% endif %}
            <h3>Ranking FFA</h3>
{% if table_ffa.data|length == 0 %}
            <p><br/><b>No result.</b><br/></p>
{% else %}
{% render_table table_ffa %}
{% endif %}
            <h3>Ranking TeamFFA</h3>
{% if table_teamffa.data|length == 0 %}
            <p><br/><b>No result.</b><br/></p>
{% else %}
{% render_table table_teamffa %}
{% endif %}
  {% endblock %}
{% endif %}
        </div>
{% endblock %}