{% extends 'srs_base.html' %}
{% load render_table from django_tables2 %}

{% block listheader %}    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />{% endblock %}

{% block pagetitle %}{{ pagetitle }}{% endblock %}

{% block maincontent %}
        <div class="left">
  {% block search %}{% endblock %}

  {% block result_table %}
            <h2>{{ pagetitle }}</h2>
            <p><br/></p>
            <div class="bar">
	            <ul>
                  {% with games1=games|slice:":4" games2=games|slice:"4:" %}
	              {% for game in games1 %}
	                <li{% if game.name == thisgame.name %} class="active">{{ game.name }}{% else %}><a href="{% url srs.views.hall_of_fame game.abbreviation %}">{{ game.name }}</a>{% endif %}</li>
	              {% endfor %}
                </ul>
                <p></p>
                <ul>
                  {% for game in games2 %}
                    <li{% if game.name == thisgame.name %} class="active">{{ game.name }}{% else %}><a href="{% url srs.views.hall_of_fame game.abbreviation %}">{{ game.name }}</a>{% endif %}</li>
                  {% endfor %}
                  {% endwith %}
                </ul>
	        </div>
            <p><br/></p>
            {% for text in intro_text %}<p><br/></p>
            <p>{{ text|safe }}</p>{% endfor %}
            <p><br/></p>


    {% for leaderboard,table in tables %}
            <a name="{{ leaderboard.get_match_type_display }}"></a>
            <p style="font:1.2em Arial, Helvetica, sans-serif;">
            {% for ladder in ladders %}
            {% if ladder == leaderboard.get_match_type_display %}<span style="color:#C3593C;">{{ ladder }}</span>{% else %}<a href="#{{ ladder }}">{{ ladder }}</a>{% endif %} &nbsp;&nbsp;&nbsp;
            {% endfor %}
            </p>
            <p>Last update: {{ leaderboard.last_modified }}</p>
        {% render_table table %}
            <p><br/></p>
            <p><br/></p>
    {% endfor %}
  {% endblock %}
        </div>
{% endblock %}
