{% extends 'srs_base.html' %}

{% block pagetitle %}Home{% endblock %}

{% block maincontent%}
		<div class="left">
			<div class="left_articles">
				<h2>Latest {{ newest_replays|length }} uploads (<a href="/replays/">of {{ total_replays }} total</a>)</h2>
				<p>The web site owner is not responsible for the foul language of some players in the offered game replays.</p>
			</div>

{% for replay,dl in newest_replays %}
			<div class="lt"></div>
			<div class="lbox">
                <h2>{{ replay.title }} :: <span class="yellow">{{ replay.short_text }}</span></h2>
                <div class="thumb">
                    <a href="/replay/{{ replay.gameID }}/"><center><img src="{{ replay.rmap.img_url }}_tn1.jpg" alt="pic of map {{ replay.rmap.name }}"/></center>
                    <img src="{{ STATIC_URL }}img/play.gif" alt="Details" /> click for details</a>
                </div>
                    
                <p>Date: {{ replay.unixTime }}<br/>
                Game: <a href="/game/{{ replay.gametype }}/">{{ replay.gametype }}</a> (engine {{ replay.versionString }})<br/>
                Map: <a href="/map/{{ replay.rmap.name }}/">{{ replay.rmap.name }}</a><br/>
                Upload: 01.01.2013 by <a href="/user/{{ replay.uploader.username }}/">{{ replay.uploader.username }}</a> (todo: date & use nik)<br/>
                File: <a href="/download/{{ replay.gameID }}/">download</a><br/>
                Length: {% if replay.notcomplete %}replay incomplete, time unknown{% else %}{{ replay.wallclockTime }}{% endif %}<br/>
                Tags:{% for tag in replay.tags.all %} <a href="/tag/{{ tag }}/">{{ tag }}</a>{% endfor %}<br/>
                Downloads / Comments: {{ dl }} / nyi (todo)</p>
            </div>
{% endfor %}
            
            <h2><a href="/replays/">more...</a></h2>
		</div>
{% endblock %}