{% extends 'srs_base.html' %}

{% block pagetitle %}Initial rating of existing replays{% endblock %}

{% block maincontent%}
    <h1>Initial ELO rating</h1>
    <p><br/></p>
    <p style="font-weight:bold;">Everyone starts with Elo=1500 (k-factor=24), Glicko=1500 (RD=350) and Trueskill(mu)=25 (sigma=25/3).</p>
    <p style="font-weight:bold;">Elo and Glicko are only calculated for 1v1.</p>
    <p><br/></p>
    <table border="1" cellpadding="5" cellspacing="5" rules="all">
           <th>Game</th>
           <th>Replay</th>
           <th>Type</th>
{% for num in sixteen %}
           <th>Player {{num }}</th>
    {% if forloop.counter <= 2 %}
           <th>ELO after match</th>
           <th>Glicko after match</th>
    {% endif %}
           <th>TrueSkill after match</th>
{% endfor %}
{% for game, replay, rating_change in rating_changes %}
           <tr>
              <td><a href="{{ game.get_absolute_url }}">{{ game.abbreviation }}</a></td>
              <td><a href="{{ replay.get_absolute_url }}">{{ replay.unixTime|date:'Y-m-d H:i:s' }}</a></td>
              <td>{{ replay.match_type }}</td>
    {% for pa, elo_rating, glicko_rating, ts_rating in rating_change %}
              <td>{{ pa.preffered_name }}</td>
        {% if forloop.counter <= 2 %}
              <td>{% if elo_rating %}{{ elo_rating.mean|floatformat:3 }}{% endif %}</td>
              <td>{% if glicko_rating %}{{ glicko_rating.mean|floatformat:3 }} ({{ glicko_rating.stdev|floatformat:1 }}){% endif %}</td>
        {% endif %}
              <td>{% if ts_rating %}{{ ts_rating.mean|floatformat:3 }} ({{ ts_rating.stdev|floatformat:1 }}){% endif %}</td>
    {% endfor %}
           </tr>
{% endfor %}
    </table>
    <p><br/></p>
{% endblock %}
{% block rightside %}{% endblock %}