{% extends 'srs_base.html' %}
{% load render_table from django_tables2 %}

{% block listheader %}    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />{% endblock %}

{% block pagetitle %}{{ pagetitle }}{% endblock %}

{% block maincontent %}
        <div class="left">
        {% block schema4title %}<h1>{{ pagetitle }}</h1>{% endblock %}
        <p><br/></p>
  {% block adminlink %}
      {% if user.is_staff and adminurl %}
        <p><a href="/admin/srs/{{ adminurl }}/{{ obj.pk }}/">{{ adminurl }} {{ obj }} @admin site</a></p>
    {% endif %}
  {% endblock %}
  {% block search %}{% endblock %}
  {% block rating %}{% endblock %}

  {% block result_table %}
    {% if intro_text %}{% for text in intro_text %}<p>{{ text|safe }}</p>{% endfor %}{% endif %}
    {% if table.data|length == 0 %}
            <p style="font-weight: bold;"><br/>No result.<br/></p>
    {% else %}
      {% render_table table %}
    {% endif %}
  {% endblock %}
  {% block au_rating_backup %}{% endblock %}
        </div>
{% endblock %}
