{% extends 'srs_base.html' %}
{% load render_table from django_tables2 %}

{% block listheader %}    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />{% endblock %}

{% block pagetitle %}List of {{ pagetitle }}{% endblock %}

{% block maincontent %}
        <div class="left">
{% block search %}{% endblock %}

{% block result_table %}
            <h2>List of {{ pagetitle }}</h2>
{% if table.data|length == 0 %}
            <p><br/><b>No result.</b><br/></p>
{% else %}
{% render_table table %}
{% endif %}
{% endblock %}
        </div>
{% endblock %}