{% extends 'srs_base.html' %}

{% block pagetitle %}Login{% endblock %}

{% block maincontent%}
<h1>Login</h1>
<p><br/></p>
<h3>Please provide your lobby accounts username and pasword.</h3>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form action="{{ selfurl }}?next={{ next }}" method="post">{% csrf_token %}
    {{ form.as_p }}
    <p><input type="submit" value="Submit" /></p>
    <p><input type="hidden" name="next" value="{{ next }}" /></p>
</form>

{% endblock %}