{% extends 'srs_base.html' %}
{% load dajaxice_templatetags %}

{% block ratingadjustmentheader %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.9.2.custom.min.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.9.2.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dajax.core.js"></script>
    {% dajaxice_js_import %}
	<style>
	    .ui-combobox {
	        position: relative;
	        display: inline-block;
	    }
	    .ui-combobox-toggle {
	        position: absolute;
	        top: 0;
	        bottom: 0;
	        margin-left: -1px;
	        padding: 0;
	        /* adjust styles for IE 6/7 */
	        *height: 1.7em;
	        *top: 0.1em;
	    }
	    .ui-combobox-input {
	        margin: 0;
	        padding: 0.3em;
	    }
	</style>
    <script>
    $(function() {
        $('#id_game').html('');
        $('#id_match_type').html('');
        $('#id_glicko').attr({'disabled': 'True'})
    });
    </script>
{% endblock %}

{% block pagetitle %}Manual Rating Adjustment{% endblock %}

{% block maincontent%}
        <div class="left">
            <div class="left_articles">
                <h2>Manual Rating Adjustment</h2>
                <noscript>
                    <p style="font-weight: bold; color: red">To use this page, the activation of JavaScript is strongly recomended!</p>
                </noscript>
                <p>Please choose the playeraccount you wish to change.</p>
            </div>
            <div class="ui-widget">
            <form action="." name="mra_form" method="post">{% csrf_token %}
	            <div class="lt"></div>
	            <div class="lbox" style="height:220px;">
	                <table border="0" cellpadding="2" cellspacing="0" rules="none">
                        <colgroup>
                            <col width="80px"/>
                            <col width="400px"/>
                        </colgroup>
	                {{ form.as_table }}
	                </table>
	                <input type="submit" value="Submit" />
	            </div>
            </form>
            </div>
        </div>
{% endblock %}
