{% extends 'srs_base.html' %}

{% block ratingadjustmentheader %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.9.2.custom.min.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.9.2.custom.min.js"></script>
	<style>
	    .ui-combobox {
	        position: relative;
	        display: inline-block;
	    }
	    .ui-combobox-toggle {
	        position: absolute;
	        top: 0;
	        bottom: 0;
	        margin-left: -1px;
	        padding: 0;
	        /* adjust styles for IE 6/7 */
	        *height: 1.7em;
	        *top: 0.1em;
	    }
	    .ui-combobox-input {
	        margin: 0;
	        padding: 0.3em;
	    }
	</style>
	<script>
	(function( $ ) {
	    $.widget( "ui.combobox", {
	        _create: function() {
	            var input,
	                that = this,
	                select = this.element.hide(),
	                selected = select.children( ":selected" ),
	                value = selected.val() ? selected.text() : "",
	                wrapper = this.wrapper = $( "<span>" )
	                    .addClass( "ui-combobox" )
	                    .insertAfter( select );
	
	            function removeIfInvalid(element) {
	                var value = $( element ).val(),
	                    matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( value ) + "$", "i" ),
	                    valid = false;
	                select.children( "option" ).each(function() {
	                    if ( $( this ).text().match( matcher ) ) {
	                        this.selected = valid = true;
	                        return false;
	                    }
	                });
	                if ( !valid ) {
	                    // remove invalid value, as it didn't match anything
	                    $( element )
	                        .val( "" )
	                        .attr( "title", value + " didn't match any item" )
	                        .tooltip( "open" );
	                    select.val( "" );
	                    setTimeout(function() {
	                        input.tooltip( "close" ).attr( "title", "" );
	                    }, 2500 );
	                    input.data( "autocomplete" ).term = "";
	                    return false;
	                }
	            }
	
	            input = $( "<input>" )
	                .appendTo( wrapper )
	                .val( value )
	                .attr( "title", "" )
	                .attr('style', "width: 330px" )
	                .addClass( "ui-state-default ui-combobox-input" )
	                .autocomplete({
	                    delay: 0,
	                    minLength: 0,
	                    source: function( request, response ) {
	                        var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
	                        response( select.children( "option" ).map(function() {
	                            var text = $( this ).text();
	                            if ( this.value && ( !request.term || matcher.test(text) ) )
	                                return {
	                                    label: text.replace(
	                                        new RegExp(
	                                            "(?![^&;]+;)(?!<[^<>]*)(" +
	                                            $.ui.autocomplete.escapeRegex(request.term) +
	                                            ")(?![^<>]*>)(?![^&;]+;)", "gi"
	                                        ), "<strong>$1</strong>" ),
	                                    value: text,
	                                    option: this
	                                };
	                        }) );
	                    },
	                    select: function( event, ui ) {
	                        ui.item.option.selected = true;
	                        that._trigger( "selected", event, {
	                            item: ui.item.option
	                        });
	                        selection_changed(this.value, 'player');
	                    },
	                    change: function( event, ui ) {
	                        if ( !ui.item )
	                            return removeIfInvalid( this );
	                    }
	                })
	                .addClass( "ui-widget ui-widget-content ui-corner-left" );
	
	            input.data( "autocomplete" )._renderItem = function( ul, item ) {
	                return $( "<li>" )
	                    .data( "item.autocomplete", item )
	                    .append( "<a>" + item.label + "</a>" )
	                    .appendTo( ul );
	            };
	
	            $( "<a>" )
	                .attr( "tabIndex", -1 )
	                .attr( "title", "Show All Items" )
	                .tooltip()
	                .appendTo( wrapper )
	                .button({
	                    icons: {
	                        primary: "ui-icon-triangle-1-s"
	                    },
	                    text: false
	                })
	                .removeClass( "ui-corner-all" )
	                .addClass( "ui-corner-right ui-combobox-toggle" )
	                .click(function() {
	                    // close if already visible
	                    if ( input.autocomplete( "widget" ).is( ":visible" ) ) {
	                        input.autocomplete( "close" );
	                        removeIfInvalid( input );
	                        return;
	                    }
	
	                    // work around a bug (likely same cause as #5265)
	                    $( this ).blur();
	
	                    // pass empty string as value to search for, displaying all results
	                    input.autocomplete( "search", "" );
	                    input.focus();
	                });
	
	                input
	                    .tooltip({
	                        position: {
	                            of: this.button
	                        },
	                        tooltipClass: "ui-state-highlight"
	                    });
	        },
	
	        destroy: function() {
	            this.wrapper.remove();
	            this.element.show();
	            $.Widget.prototype.destroy.call( this );
	        }
	    });
	})( jQuery );
	
	$(function() {
        $( "#id_player" ).combobox();
        $('#id_game').attr({'disabled': 'True'})
        $('#id_match_type').attr({'disabled': 'True'})
    });


	function selection_changed(value, where) {
		if (where == 'player') {
			$('#id_game').removeAttr('disabled');
			$('#id_game').html('');
			// ajax load game list
		}
		if (where == 'game') {
            $('#id_match_type').removeAttr('disabled');
            $('#id_match_type option[value=0]').remove();
            // ajax load game list
        }
		if (where == 'match_type') alert('match_type');
	}
	
	
	</script>
{% endblock %}

{% block pagetitle %}Manual Rating Adjustment{% endblock %}

{% block maincontent%}
        <div class="left">
            <div class="left_articles">
                <h2>Manual Rating Adjustment</h2>
                <noscript>
                    <p style="font-weight: bold; color: red">To use this page, the activation of JavaScript is strongly recomended!</p>
                </noscript>
                <p>Please choose the playeraccount you wish to change.</p>
            </div>
            <div class="ui-widget">
            <form action="." name="mra_form" method="post">{% csrf_token %}
	            <div class="lt"></div>
	            <div class="lbox" style="height:220px;">
	                <table border="0" cellpadding="2" cellspacing="0" rules="none">
                        <colgroup>
                            <col width="80px"/>
                            <col width="400px"/>
                        </colgroup>
	                {{ form.as_table }}
	                </table>
	                <input type="submit" value="Submit" />
	            </div>
            </form>
            </div>
        </div>
{% endblock %}
