{% comment %}
<!-- 
Please see srs_base.html for license information.
-->
{% endcomment %}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Rating history for <u>{{ game_verbose }}</u>, match type <u>{{ match_type_verbose }}</u></h4>
          </div>
          <div class="modal-body">
              <img id="ts_graph" width=0 height=0 src="{% url 'ts_history_graph' game_abbr accountid match_type %}" onload="fix_size()"/>
              <img id="loader_img" src="{{ STATIC_URL }}img//loading_bar.gif" style="border: none; display: block; margin: 0 auto;"/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>