{% comment %}
<!--
Please see srs_base.html for license information.
-->
{% endcomment %}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Engine download</h4>
          </div>
          <div class="modal-body">
{% if con_error %}
            <p class="text-danger"><h5>Error retrieving information</h5></p>
            <p class="text-danger">{{ con_error|safe }}</p>
{% else %}
  {% for engine_info in result %}
      {% for mirror in engine_info.mirrors %}
            <p><span class="ionicons {{ engine_info.icon }}"></span> {{ engine_info.label }}: <a href="{{ mirror }}">mirror {{ forloop.counter }}</a></p>
      {% empty %}
            <p><span class="ionicons {{ engine_info.icon }}"></span> {{ engine_info.label }}: no download available</p>
      {% endfor %}
  {% endfor %}
{% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>