{% comment %}
<!--
Please see srs_base.html for license information.
-->
{% endcomment %}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Map download</h4>
          </div>
          <div class="modal-body">
{% if con_error %}
            <p class="text-danger"><h5>Error retrieving information</h5></p>
            <p class="text-danger">{{ con_error|safe }}</p>
{% else %}
  {% for map in result %}
            <h5>{{ map.springname }}</h5>
    {% for mirror in map.mirrors %}
            <p><a href="{{ mirror }}">{{ mirror }}</a></p>
    {% endfor %}
  {% endfor %}
{% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>