{% extends 'lists.html' %}
{% load render_table from django_tables2 %}

{% block rating %}
    {% if accounts|length > 1 %}
    <div>
            <p>Showing accumulated data for players:</p>
       {% for acc in accounts %}
            <p><a href="{{ acc.get_absolute_url }}">{{ acc.preffered_name }}</a>{% if acc.get_names|length > 1 %}{% for name in acc.get_names %} ({{ name }}){% endfor %}{% endif %}</p>
       {% endfor %}
            <p><br/></p>
            </div>
    {% endif %}

            <h2>Rating</h2>
		    {% if playerratingtable.data|length == 0 %}
		    <p><br/><b>No result.</b><br/></p>
		    {% else %}
		      {% render_table playerratingtable %}
		    {% endif %}
		    <p><br/></p>

			<h2>Win/loss</h2>
			{% render_table winlosstable %}
			<p><br/></p>

            <h2>Rating history</h2>
            {% if playerratinghistorytable.data|length == 0 %}
            <p><br/><b>No result.</b><br/></p>
            {% else %}
              {% render_table playerratinghistorytable %}
            {% endif %}
            <p><br/></p>

			<h2>All Replays</h2>
{% endblock %}
