{% extends 'srs_base.html' %}
{% load comments %}

{% block pagetitle %}{{ replay.title }} :: {{ replay.short_text }}{% endblock %}

{% block maincontent%}
        <div class="left">
            <div class="lt"></div>
            <div class="lbox">
                <p><big><b>{{ replay.title }}</big></b></p>
{% include "replay_box.html" %}
            </div>
        <div class="left" style="width: 340px;">
	        <center><img src="{{ replay.map_img.get_absolute_url }}" alt="pic of map {{ replay.map_info.name }}" width="340"/></center>
	        <p><br/></p>
	        <p><b>Uploaders comment:</b> {{ replay.long_text }}</p>
	        <p><br/></p>
	    </div>
	    <div class="left" style="width: 130px; padding: 0 8px;">
	        {% if replay.notcomplete %}<p><b><font color="maroon">Replay is incomplete, winner and match length are unknown. Please leave a comment.</font></b></p>{% endif %}
	        <ul>
	            {% for at,team in allyteams %}<li><b>Team {{ forloop.counter }}</b>{% if at.winner %}<br/><img alt="Winner" src="{{ STATIC_URL }}img/trophy_32.png"/>{% endif %}<br/></li>
	            <ul>
	                {% for t in team %}<li><font color=#{{ t.rgbcolor }}><a href="{{ t.teamleader.get_absolute_url }}">{{ t.teamleader.name }}</a></font></li>{% endfor %}
	            </ul>
	            <li>&nbsp;</li>{% endfor %}
	            <li><b>Spectators</b></li>
	            {% for s in specs %}<li>{{ s.name }}</li>{% endfor %}
	        </ul>
	   </div>
	   <div class="left">
       <div class="footer"></div>
	        <h3>Comments:</h3>
	        {% get_comment_count for replay as comment_count %}
            <p>This event has {{ comment_count }} comments.</p>
	        {% render_comment_list for replay %}
	        <a name="afterlastcomment"></a>

            <div class="footer"></div>
	        {% if user.is_authenticated %}
            <h3>Post a comment:</h3>
			{% get_comment_form for replay as form %}

			<form action="{% comment_form_target %}" method="post">{% csrf_token %}
			  <div><input type="hidden" name="next" value="{{ replay.get_absolute_url }}#afterlastcomment" /></div>
			  {% for field in form %}
			    {% if field.is_hidden %}
			      <div>{{ field }}</div>
			    {% else %}
			      {% if field.errors %}{{ field.errors }}{% endif %}
			      <p
			        {% if field.errors %} class="error"{% endif %}
			        {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
			        {{ field.label_tag }} {{ field }}
			      </p>
			    {% endif %}
			  {% endfor %}
			  <p class="submit">
			    <input type="submit" name="post" class="submit-post" value="Post" />
			    <input type="submit" name="preview" class="submit-preview" value="Preview" />
			  </p>
			</form>
			{% else %}
			<h3>To post a comment you have to <a href="{% url auth_login %}">log in</a> (<a href="{% url registration_register %}">register</a>).</h3>
            {% endif %}
        </div>
        </div>
{% endblock %}