{% extends 'srs_base.html' %}
{% load render_table from django_tables2 %}
{% load comments %}
{% load cache %}

{% block listheader %}    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />{% endblock %}
{% block replayheader %}    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.8.21.custom.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.21.custom.min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $(".clickme_winner").click(function () {
      $(".blind_winner").show("blind", {}, 1000);
    });
  });
  $(document).ready(function() {
	  $(".clickme_mapoptions").click(function () {
		  $(".blind_mapoptions").show("blind", {}, 1000);
		  });
	  });
  $(document).ready(function() {
      $(".clickme_modoptions").click(function () {
          $(".blind_modoptions").show("blind", {}, 1000);
          });
      });
</script>
{% endblock %}

{% block pagetitle %}{{ replay.title }}{% endblock %}

{% block maincontent%}
        <div class="left">
            <div class="lt"></div>
            <div class="lbox" style="height:200px;">
                <p><big><b>{{ replay.title }}</b></big></p>
{% include "replay_box.html" %}
            </div>
        <div class="left" style="width: 350px;">
            {% if upload_broken %}<p style="text-align:center; color:red; font-weight:bold;">ERROR while reading replays file. Please reupload, preferably a replay file of another player. If problem persists, please contact Dansan at the <a href="http://springrts.com/phpbb/ucp.php?i=pm&mode=compose&u=9838">forums</a>.</p>{% endif %}
            {% if user = replay.uploader %}<p style="text-align:center; color:red; font-weight:bold;">&raquo;&raquo;&raquo;&nbsp;&nbsp;<a href="{% url srs.views.edit_replay replay.gameID %}">Edit text / tags</a>&nbsp;&nbsp;&laquo;&laquo;&laquo;{% if user.is_staff %}&nbsp;&nbsp;<a href="/admin/srs/replay/{{ replay.pk }}/">replay@admin site</a>{% endif %}</p>{% endif %}
{% cache 600 replay replay.pk %}
            <p class="clickme_winner" style="color: #4A8EBC; text-align: center; font-weight:bold;">&raquo;&raquo;&raquo;&nbsp;&nbsp;Click me to show winner (needs JS).&nbsp;&nbsp;&laquo;&laquo;&laquo;</p>
	        <img src="{{ replay.map_img.get_absolute_url }}" alt="pic of map {{ replay.map_info.name }}" width="340"/>
	        <p><br/></p>
	        <div class="footer"></div>
	        <p class="clickme_mapoptions" style="color: #4A8EBC; text-align: center; font-weight:bold;">Map options (click me)</p>
	        <div class="blind_mapoptions" style="display:none;">
		        {% if mapoptions|length > 0 %}
		        <div class="left" style="width: 175px;">
		           {% for option in mapoptions|slice:"::2" %}
			       <p>{{option.name }}: {{ option.value }}</p>
			       {% endfor %}
			    </div>
			    <div class="left" style="width: 175px;">
	               {% for option in mapoptions|slice:"1::2" %}
	               <p>{{option.name }}: {{ option.value }}</p>
	               {% endfor %}
	            </div>
		       {% else %}
			       <p>None.</p>
		       {% endif %}
	       </div>
	       <div class="footer"></div>
           <p class="clickme_modoptions" style="color: #4A8EBC; text-align: center; font-weight:bold;">Mod options (click me)</p>
           <div class="blind_modoptions" style="display:none;">
	           {% if modoptions|length > 0 %}
	           <div class="left" style="width: 175px;">
	                {% for option in modoptions|slice:"::2" %}
	                <p>{{option.name }}: {{ option.value }}</p>
	                {% endfor %}
	           </div>
	           <div class="left" style="width: 175px;">
	                {% for option in modoptions|slice:"1::2" %}
	                <p>{{option.name }}: {{ option.value }}</p>
	                {% endfor %}
	           </div>
	           {% else %}
	                <p>None.</p>
	           {% endif %}
           </div>
           <div class="footer"></div>
           <h3>Players ratings after this match</h3>
           {% if table.data|length == 0 %}
            <p style="font-weight:bold;"><br/>This match has not been rated (yet).</p>
			{% else %}
			{% render_table table %}
			{% endif %}
			<p><br/></p>
           <div class="footer"></div>
	       <p><b>Uploaders comment:</b> {{ replay.long_text }}</p>
	       <p><br/></p>
	    </div>
	    <div class="left" style="width: 220px; padding: 0 8px;">
	        {% if replay.notcomplete %}<p style="color:maroon;"><b>Replay is incomplete, winner and match length are unknown. Please leave a comment.</b></p>{% endif %}
	        {% for at,players in allyteams %}<b>Team {{ forloop.counter }}</b>{% if at.winner %}<div class="blind_winner" style="display:none;"><img alt="Winner" src="{{ STATIC_URL }}img/trophy_32.png"/></div>{% endif %}<br/>
	        <ul>
                {% for p in players %}<li style="color:#{{ t.rgbcolor }}">{% if p.account.accountid != 0 %}<a href="{{ p.get_absolute_url }}">{{ p.name }}</a>{% else %}{{ p.name }}{% endif %}</li>{% endfor %}
            </ul>
	        <p>&nbsp;</p>{% endfor %}
	        <b>Spectators</b>
	        {% if specs|length > 0 %}
	        <ul>
	            {% for s in specs %}<li>{{ s.name }}</li>{% endfor %}
	        </ul>
	        {% else %}
	        <p>None.</p>
	        {% endif %}
	   </div>
{% endcache %}
	   <div class="left">
       <div class="footer"></div>
            {% get_comment_count for replay as comment_count %}
	        <h3>Comments ({{ comment_count }}):</h3>
	        {% get_comment_list for replay as comment_list %}
			{% for comment in comment_list %}
				<p><a name="c{{ comment.id }}"></a>
				<b>Comment by "{{ comment.user_name }}" on {{ comment.submit_date }}</b> <a href="{% get_comment_permalink comment %}">(link)</a>: {{ comment.comment }}</p>
			{% endfor %}
	        <a name="afterlastcomment"></a>

            <div class="footer"></div>
	        {% if user.is_authenticated %}
            <h3>Post a comment:</h3>
{% render_comment_form for replay %}
			{% else %}
			<h3>To post a comment you have to <a href="{% url srs.views.login %}">log in</a>.</h3>
            {% endif %}
        </div>
        </div>
{% endblock %}
