{% extends 'srs_base.html' %}
{% load comments %}

{% block replayheader %}    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.8.21.custom.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.21.custom.min.js"></script>

<script>
  $(document).ready(function() {
    $(".clickme").click(function () {
      $(".blind").show("blind", {}, 1000);
    });
  });
</script>
{% endblock %}

{% block pagetitle %}{{ replay.title }}{% endblock %}

{% block maincontent%}
        <div class="left">
            <div class="lt"></div>
            <div class=lbox style="height:200px;">
                <p><big><b>{{ replay.title }}</b></big></p>
{% include "replay_box.html" %}
            </div>
        <div class="left" style="width: 350px;">
            {% if upload_broken %}<p style="text-align:center; color:red; font-weight:bold;">ERROR while reading replays file. Please reupload, preferably a replay file of another player. If problem persists, please contact Dansan at the <a href="http://springrts.com/phpbb/ucp.php?i=pm&mode=compose&u=9838">forums</a>.</p>{% endif %}
            {% if user = replay.uploader %}<p style="text-align:center; color:red; font-weight:bold;">&raquo;&raquo;&raquo;&nbsp;&nbsp;<a href="{% url srs.views.edit_replay replay.gameID %}">Edit text / tags</a>&nbsp;&nbsp;&laquo;&laquo;&laquo;</p>{% endif %}
            <p class="clickme" style="color: #4A8EBC; text-align: center;"><b>&raquo;&raquo;&raquo;&nbsp;&nbsp;Click me to show winner (needs JS).&nbsp;&nbsp;&laquo;&laquo;&laquo;</b></p>
	        <img src="{{ replay.map_img.get_absolute_url }}" alt="pic of map {{ replay.map_info.name }}" width="340"/>
	        <p><br/></p>
	        <p><b>Uploaders comment:</b> {{ replay.long_text }}</p>
	        <p><br/></p>
	    </div>
	    <div class="left" style="width: 120px; padding: 0 8px;">
	        {% if replay.notcomplete %}<p style="color:maroon;"><b>Replay is incomplete, winner and match length are unknown. Please leave a comment.</b></p>{% endif %}
	        {% for at,team in allyteams %}<b>Team {{ forloop.counter }}</b>{% if at.winner %}<div class="blind" style="display:none;"><img alt="Winner" src="{{ STATIC_URL }}img/trophy_32.png"/></div>{% endif %}<br/>
	        <ul>
                {% for t in team %}<li style="color:#{{ t.rgbcolor }}"><a href="{{ t.teamleader.get_absolute_url }}">{{ t.teamleader.name }}</a></li>{% endfor %}
            </ul>
	        <p>&nbsp;</p>{% endfor %}
	        <b>Spectators</b>
	        <ul>
	            {% for s in specs %}<li>{{ s.name }}</li>{% endfor %}
	        </ul>
	   </div>
	   <div class="left">
       <div class="footer"></div>
            {% get_comment_count for replay as comment_count %}
	        <h3>Comments ({{ comment_count }}):</h3>
	        {% get_comment_list for replay as comment_list %}
			{% for comment in comment_list %}
				<p><a name="c{{ comment.id }}"></a>
				<b>Comment by "{{ comment.user_name }}" on {{ comment.submit_date }}</b> <a href="{% get_comment_permalink comment %}">(link)</a>: {{ comment.comment }}</p>
			{% endfor %}
	        <a name="afterlastcomment"></a>

            <div class="footer"></div>
	        {% if user.is_authenticated %}
            <h3>Post a comment:</h3>
{% render_comment_form for replay %}
			{% else %}
			<h3>To post a comment you have to <a href="{% url srs.views.login %}">log in</a>.</h3>
            {% endif %}
        </div>
        </div>
{% endblock %}

