{% extends 'lists.html' %}

{% block searchheader %}    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.9.2.custom.min.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.9.2.custom.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {
    	$(".datePicker").datepicker({ dateFormat: "yy-mm-dd" });
    });
    $(document).ready(function() {
    	$(".clickme_advsearch").click(function () {
    		$(".blind_advsearch").show("blind", {}, 1000);
    	});
    });
    </script>
{% endblock %}

{% block pagetitle %}Search{% endblock %}

{% block search %}
{% if not showadvsearch %}
<p class="clickme_advsearch" style="color: #4A8EBC; text-align: center; font-weight:bold;">&raquo;&raquo;&raquo;&nbsp;&nbsp;Click me to show advanced search options.&nbsp;&nbsp;&laquo;&laquo;&laquo;</p>
<div class="blind_advsearch" style="display:none;">
{% endif %}
<h2>Search</h2>
<p><b>All search parameters are OR'd</b></p>
	<form action="." method="post">{% csrf_token %}
	    {{ form.non_field_errors }}
	    {% for field in form %}
	    {% if field.errors %}
        <div class="fieldWrapper">
            <p style="color: red">Error in "{{ field.label }}": {% for error in field.errors %} {{ error }} {% endfor %}</p>
        </div>
        {% endif %}
        {% endfor %}
		<table border="0" cellpadding="2" cellspacing="0" rules="none">
	        <colgroup>
	            <col width="60"/><col width="180"/><col width="60"/><col width="180"/>
	        </colgroup>
	        <tr>
	           <td>{{ form.text.label_tag }}:</td><td>{{ form.text }}</td>
               <td>{{ form.comment.label_tag }}:</td><td>{{ form.comment }}</td>
            </tr>
            <tr>
               <td>{{ form.player.label_tag }}:</td><td>{{ form.player }}</td>
               <td>{{ form.spectator.label_tag }}:</td><td>{{ form.spectator }}</td>
            </tr>
            <tr>
               <td>{{ form.maps.label_tag }}:</td><td>{{ form.maps }}</td>
               <td>{{ form.game.label_tag }}:</td><td>{{ form.game }}</td>
            </tr>
            <tr>
               <td>{{ form.matchdate.label_tag }}:</td><td>{{ form.matchdate }}</td>
               <td>{{ form.uploaddate.label_tag }}:</td><td>{{ form.uploaddate }}</td>
            </tr>
            <tr>
               <td>{{ form.tag.label_tag }}:</td><td>{{ form.tag }}</td>
               <td>{{ form.uploader.label_tag }}:</td><td>{{ form.uploader }}</td>
            </tr>
	    </table>
	    <p><input type="submit" value="Submit" /></p>
	</form>
	<p>&nbsp;</p>
	<p style="color: maroon;">Sorting of search results does not work at the moment.</p>
	<p style="color: maroon;">Pagination is also broken - sorry! Try to narrow your search of you have more than 50 results.</p>
	{% if not showadvsearch %}
	</div>
	{% endif %}
{% endblock %}
