{% extends 'srs_base.html' %}

{% block pagetitle %}Settings{% endblock %}

{% block maincontent%}
<div class="left">
<br/><br/>
<p style="font-weight:bold;">Web analytics opt out</p>
<p>I use <a href="http://piwik.org/">Piwik</a> (Open source web analytics) to get an idea of what is going on.</p>
<p>If you wish to not be tracked, you can <a href="http://replays.springrts.com/piwik/index.php?module=CoreAdminHome&action=optOut&language=en">opt out</a>.</p>
<br/><br/>
<p style="font-weight:bold;">TODO</p>
* change nik (uploader)
</div>
{% endblock %}