{% extends 'srs_base.html' %}

{% comment %}
<!-- 
Please see srs_base.html for license information.
-->
{% endcomment %}

{% block page_css %}
  <style>
  td, th {
      padding: 5px;
  }
  </style>
{% endblock %}

{% block pagetitle %}Privacy Mode{% endblock %}

{% block maincontent%}
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h1 class="page-header">SLDB Privacy Mode</h1>
  {% if current_privacy_mode >= 0 %}
    {% if in_post %}
      {% if new_privacy_mode >= 0 %}
        <p style="color: red; font-weight:bold;">Your privacy setting has been set to {{ new_privacy_mode }}.</p>
        <p>0: Privacy disabled<br/>1: Basic privacy (default)<br/>2: Full privacy</p>
      {% else %}
        <p style="color: red; font-weight:bold;">There was an error changing your privacy setting, please retry later or contact "Dansan" in the SpringRTS forums.</p>
      {% endif %}
    {% endif %}
        <h3>Please choose the mode you want your privacy be set to.</h3>
    {% for error in form.errors %}
        <p>{{ error }}</p>
    {% endfor %}

        <form action="{{ selfurl }}" method="post">{% csrf_token %}
          <div class="table-responsive">
            <table  class="table table-hover">
    {% for radio in form.mode %}
              <tr>
                  <td>{{ radio.tag }}</td>
                  <td>{{ radio.choice_label|safe }}</td>
              </tr>
    {% endfor %}
            </table>
          </div>
          <p><br/><button type="submit" class="btn btn-primary">Submit</button></p>
        </form>
  {% else %}
        <h3>Sorry!<br/>There was an error communicating with the skills database ("SLDB"), please retry later or contact "Dansan" in the SpringRTS forums.</h3>
  {% endif %}
      </div>
    </div>
{% endblock %}
