{% load adminmedia %}
{% load comments %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<!--
CREDITS FOR THE ORIGINAL WEB DESIGN GO TO:
            Luka Cvrk (www.solucija.com)
            Open Source Web Design
            http://www.oswd.org/design/preview/id/3115
-->
    <meta name="author" content="Dansan" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="Description" content="Replay upload site for matches on the SPringRTS game engine."/>
    <meta name="Keywords" content="replay, demo, sdf, spring, springrts, game"/>

    <link rel="alternate" type="application/rss+xml" title="RSS latest uploads" href="/feeds/latest/" />
    {% if user.is_authenticated %}
    <link rel="alternate" type="application/rss+xml" title="RSS latest uploads of {{ user }}" href="/feeds/uploader/{{ user }}/" />
    {% endif %}
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
{% block listheader %}{% endblock %}
{% block searchheader %}{% endblock %}
{% block uploadheader %}{% endblock %}
{% block replayheader %}{% endblock %}

    <title>{%block pagetitle %}{% endblock %} | Spring Replay Site</title>
</head>
<body>
    <div class="content">
        <div class="header_right">
            <div class="top_info">
                <div class="top_info_right">
                    {% if user.is_authenticated %}
                    <p>Welcome {{ user }}. <a href="/">Home</a> | <a href="{% url srs.upload.upload %}">Upload</a> | <a href="{% url srs.views.user_settings %}">Settings</a> | {% if user.is_staff %}<a href="/admin/">Admin</a> | {% endif %}<a href="{% url srs.views.logout %}">Logout</a></p>
                    {% else %}
                    <p><a href="/">Home</a> | You are not Logged in. To upload a replay or write a comment you must <b><a href="{% url srs.views.login %}">Log in</a></b> using your spring lobby account. If you don't have one start a lobby and register.</p>
                    {% endif %}                    
                </div>      
            </div>
            {% comment %}
            <div class="bar">
                <ul>
                    <li class="slogan">Menu:</li>
                    <li><a href="#">1v1</a></li>
                    <li><a href="#">2v2/3v3</a></li>
                    <li class="active">Team</li>
                    <li><a href="#">Pictures</a></li>
                    <li><a href="#">Videos</a></li>
                </ul>
            </div>
            {% endcomment %}
        </div>

        <div class="logo">
            <h1><a href="/">Spring <span class="red">Replays</span></a></h1>
            <p>Who needs a VCR?</p>
        </div>

        <div class="search_field">
            <form method="post" action="{% url srs.views.search %}">{% csrf_token %}
                <p><span class="grey">Search Replays (<a href="{% url srs.views.search %}">Advanced</a>):</span> &nbsp;&nbsp; <input type="text" name="search" class="search" /> <input type="submit" value="Search" class="button" /></p>
            </form>
        </div>

        <div class="newsletter">
            <p><span class="grey">RSS feed: <a href="/feeds/latest/">all</a>{% if user.is_authenticated %} | <a href="/feeds/uploader/{{ user }}/" /> {{ user|slice:":10" }}s</a>{% endif %}</span></p>
        </div>

        <div class="subheader">
            <p>SpringRTS is a Open Source versatile 3D RTS game engine. For more information go to <a href="http://springrts.com/">springrts.com</a>.</p>
        </div>

{% block maincontent %}{% endblock %}

        <div class="right">
            <div class="rt"></div>
            <div class="right_articles">
                <p><b>Latest Comments (<a href="{% url srs.views.all_comments %}">All</a>, <a href="/feeds/latest_comments/">RSS</a>)</b><br/>
                {% for comm in latest_comments %}<a href="{% get_comment_permalink comm %}" title="{{ comm.submit_date|date:'Y-m-d H:i' }}">{{ comm.user_name|truncatechars:12 }} | {{ comm.content_object.title|truncatechars:30 }}</a><br/>{% endfor %}</p>
            </div>
            <div class="rt"></div>
            <div class="right_articles">
                <p><b>Tags (<a href="{% url srs.views.tags %}">All</a>)</b><br /><a href="{% url srs.views.tag '1v1' %}">1v1</a> <a href="{% url srs.views.tag '2v2' %}">2v2</a> <a href="{% url srs.views.tag '3v3' %}">3v3</a> <a href="{% url srs.views.tag '6v6' %}">6v6</a> <a href="{% url srs.views.tag '8v8' %}">8v8</a> <a href="{% url srs.views.tag 'Tourney' %}">Tourney</a><br />Top {{ top_tags.count }}: {% for tag in top_tags %}<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a> {% endfor %}</p>
                <p><b>Maps (<a href="{% url srs.views.maps %}">All</a>)</b><br />Top {{ top_maps.count }}: {% for map in top_maps %}<a href="{{ map.get_absolute_url }}">{{ map.name }}</a> {% endfor %}</p>
                <p><b>Players (<a href="{% url srs.views.players %}">All</a>)</b><br />{{ top_players|length }} most active: {% for player in top_players %}<a href="{{ player.get_absolute_url }}">{{ player.name }}</a> {% endfor %}</p>
                <p><b>Games (<a href="{% url srs.views.games %}">All</a>)</b></p>
                <p><b>Uploaders (<a href="{% url srs.views.users %}">All</a>)</b></p>
                <p><b><a href="{% url srs.views.replays %}">All {{ total_replays }} Replays</a></b></p>
            </div>
            <div class="rt"></div>
            <div class="right_articles">
                <p><b>Links</b><br /><a href="http://springrts.com/">SpringRTS</a><br />
                <a href="http://springfiles.com/">SpringFiles</a><br />
                <a href="http://quotes.springlobby.info/">Spring quotes</a><br />
                <a href="http://replays.springrts.com/piwik/index.php?module=CoreAdminHome&action=optOut&language=en">Privacy | Tracking opt out</a></p>
            </div>
        </div>
        <div class="footer">
            <p>If you have requests, complaints, praise or want to contribute code please contact Dansan in the <a href="http://springrts.com/phpbb/">SpringRTS forums</a> or on <a href="https://github.com/dansan/spring-replay-site/">GitHub</a>.</p>
        </div>
    </div>
    <!-- Piwik -->
    <!-- If you wish to not be tracked, you can opt out using the "Links" -> "Privacy | Tracking opt out" link. -->
	<script type="text/javascript">
		var pkBaseURL = (("https:" == document.location.protocol) ? "https://replays.springrts.com/piwik/" : "http://replays.springrts.com/piwik/");
		document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try {
			var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
			piwikTracker.trackPageView();
			piwikTracker.enableLinkTracking();
		} catch( err ) {}
	</script>
	<noscript>
	   <p><img src="http://replays.springrts.com/piwik/piwik.php?idsite=1" style="border:0" alt="" /></p>
	</noscript>
	<!-- End Piwik Tracking Code -->
</body>
</html>
