{% extends 'srs_base.html' %}
{% load static %}

{% comment %}
<!-- 
Please see srs_base.html for license information.
-->
{% endcomment %}

{% block pagetitle %}Upload Media{% endblock %}

{% block maincontent%}
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-header">Upload Media</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="well">
  {% include "replay_box.html" %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Readme</h3>
          </div>
          <div class="panel-body">
            <p>Please supply a media file or an image and a short comment (max. 512 characters).</p>
            <p><b>For images</b> (JPG, PNG) please use the extra input line.</p>
            <p><b>Supported video formats</b> are WebM, MP4, OGG/OGV and FLV.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <form class="form-horizontal" action="." method="POST" enctype="multipart/form-data" role="form">
        {{ formset.management_form }}
  {% for form in formset %}
    {% if not forloop.first %}
          <div class="blind" style="display:none;">
    {% endif %}
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Upload a replay</h3>
              </div>
              <div class="panel-body">
                  <div class="">
                    {% csrf_token %}
                    {{ form.as_p }}
                  </div>
                  <div class="">
                    <div class="col-lg-8 col-lg-offset-2">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </div>
              </div>
            </div>
    {% if not forloop.first %}
          </div>
    {% endif %}
  {% endfor %}
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <button class="clickme btn btn-default">Click me for multi-upload</button>
      </div>
    </div>
{% endblock %}

{% block page_js %}
  <script src="{% static "js/dyn/srs_upload.js" %}"></script>
{% endblock %}
