{% extends 'srs_base.html' %}

{% block uploadheader %}    <link rel="stylesheet" type="text/css" href="{{ JQUERYUI_CSS_URL }}" />
    <script type="text/javascript" src="{{ JQUERY_JS_URL }}"></script>
    <script type="text/javascript" src="{{ JQUERYUI_JS_URL }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/srs_upload.js"></script>
{% endblock %}

{% block pagetitle %}Upload{% endblock %}

{% block maincontent%}
        <div class="left">
            <div class="left_articles">
                <h2>Upload</h2>
                <p>Please supply a Spring Demo File (*.sdf), a short subject, a comment and tags.</p>
                <p>Please check the <a href="{% url "srs.views.tags" %}">list of existing tags</a> first!
                Note that a tag for the team size (1v1, 2v2, 8v8) is added automatically if not present.
                Please do not use <a href="{% url "srs.views.maps" %}">map names</a> or <a href="{% url "srs.views.players" %}">player names</a>, as they are categorized separately.</p>
            </div>
            <form action="." method="post" enctype="multipart/form-data">
            {{ formset.management_form }}
			{% for form in formset %}
	            <div class="lt"></div>
	            <div class="lbox" style="height:260px;">
	                    {% csrf_token %}
	                    {{ form.as_p }}
	                    <input type="submit" value="Submit" />
	            </div>
	            {% if forloop.first %}
	            <p class="clickme" style="color: #4A8EBC; text-align: center;"><big><b>&raquo;&raquo;&raquo;&nbsp;&nbsp;Click me for multi-upload.&nbsp;&nbsp;&laquo;&laquo;&laquo;</b></big><br/>&nbsp;</p>
                <div class="blind" style="display:none;">
                {% endif %}
            {% endfor %}
                </div>
            </form>
        </div>    
{% endblock %}
