{% extends 'srs_base.html' %}

{% block pagetitle %}Win/loss for player {{ playeraccount.names }}{% endblock %}

{% block maincontent%}

<h3>Win/loss for player {{ playeraccount.names }}</h3>

<table border="0" cellpadding="5" cellspacing="5" rules="none">
    <tr>
        <th>tag</th>
        <th>total</th>
        <th>win</th>
        <th>loss</th>
        <th>ratio</th>
    </tr>
    <tr>
        <td>1v1</td>
        <td align="right">{{ at_1v1.all }}</td>
	    <td align="right">{{ at_1v1.win }}</td>
	    <td align="right">{{ at_1v1.loss }}</td>
	    <td align="right">{{ at_1v1.ratio }}</td>
    </tr>
    <tr>
        <td>2v2</td>
        <td align="right">{{ at_2v2.all }}</td>
        <td align="right">{{ at_2v2.win }}</td>
        <td align="right">{{ at_2v2.loss }}</td>
        <td align="right">{{ at_2v2.ratio }}</td>
    </tr>
    <tr>
        <td>Team</td>
        <td align="right">{{ at_team.all }}</td>
        <td align="right">{{ at_team.win }}</td>
        <td align="right">{{ at_team.loss }}</td>
        <td align="right">{{ at_team.ratio }}</td>
    </tr>
    <tr>
        <td>FFA</td>
        <td align="right">{{ at_ffa.all }}</td>
        <td align="right">{{ at_ffa.win }}</td>
        <td align="right">{{ at_ffa.loss }}</td>
        <td align="right">{{ at_ffa.ratio }}</td>
    </tr>
</table>
{% endblock %}