srs.db
*.pyc
*.pyo
srs/local_settings.py
srs/static/maps/*.jpg
srs/static/replays/*.sdf
srs/static/replays/*.sdfz
srs/static/replays/*.gz
srs/static/media/*
srs/ts_graphs
srs/map_info_no_deps.py
srs/log/*.log
srs/log/*.bz2
srs/log/initial_rating*.csv
.idea
STUFF
