configparser>=3.5.0
coreapi>=2.3.1
Django<2.0
django-background-tasks>=1.1.11
django-contrib-comments>=1.7.3
django-extensions>=1.7.4
django-eztables==0.3.2.dansan1
django.js>=0.9
django-json-rpc>=0.7.2
django-picklefield>=0.3.2
django-xmlrpc>=0.1.7
gunicorn>=19.6.0
mysqlclient>=1.3.9
netifaces>=0.10.6
Pillow>=3.4.2
plotly>=3.1.1
python-magic>=0.4.12
pytz>=2016.7
requests>=2.18.4
Werkzeug>=0.15.0