argh==0.26.1
backports.ssl-match-hostname==3.4.0.2
certifi==14.5.14
Django==1.6.2
django-extensions==1.5.1
django-eztables==0.3.3.dev0
django-json-rpc==0.6.3
django-picklefield==0.3.1
django-xmlrpc==0.1.5
django.js==0.8.1
ipython==3.0.0
Jinja2==2.7.3
jsonschema==2.4.0
MarkupSafe==0.23
mistune==0.5.1
MySQL-python==1.2.5
pathtools==0.1.2
Pillow==2.7.0
ptyprocess==0.4
Pygments==2.0.2
python-magic==0.4.6
pytz==2014.10
PyYAML==3.11
pyzmq==14.5.0
six==1.5.2
South==0.8.4
suds==0.4
terminado==0.5
tornado==4.1
watchdog==0.8.3
Werkzeug==0.10.1
