{% load comments %}
            <form role="form" class="form-horizontal" action="{% comment_form_target %}" method="post">
              {% csrf_token %}
              <div><input type="hidden" name="next" value="{{ replay.get_absolute_url }}#afterlastcomment" /></div>
              <fieldset>
                <legend>Post a comment</legend>
  {% for field in form %}
                <div class="form-group" {% if field.name == "honeypot" or field.name == "name" or field.name == "email" or field.name == "url" or field.name == "content_type" or field.name == "object_pk" or field.name == "timestamp" or field.name == "security_hash" %} style="display:none; margin-bottom: 0px;"{% endif %}>
    {% if field.is_hidden %}
                  <div>{{ field }}</div>
    {% else %}
      {% if field.errors %}
                  <div class="alert alert-dismissable alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ field.errors }}
                  </div>
      {% endif %}
                  <div{% if field.errors %} class="error"{% endif %}
                    {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}
                    {% ifequal field.name "name" %} style="display:none;"{% endifequal %}
                    {% ifequal field.name "email" %} style="display:none;"{% endifequal %}
                    {% ifequal field.name "url" %} style="display:none;"{% endifequal %}>
                    {{ field }}
                  </div>
    {% endif %}
                  </div>
  {% endfor %}
                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" name="post" class="btn btn-primary submit-post ">Post</button>
                    <button type="submit" name="preview" class="btn btn-primary submit-preview">Preview</button>
                  </div>
                </div>
              </fieldset>
            </form>

