{% extends 'srs_base.html' %}
{% load static %}
{% load comments %}

{% block pagetitle %}Preview your comment{% endblock %}

{% block maincontent%}
        <div class="left">
		  <form action="{% comment_form_target %}" method="post">{% csrf_token %}
		    {% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}
		    {% if form.errors %}
		    <h1>Please correct the error(s) below</h1>
		    {% else %}
		    <h1>Preview your comment</h1>
		      <blockquote>{{ comment|linebreaks }}</blockquote>
		      <p>
		      and <input type="submit" name="submit" class="submit-post" value="Post your comment" id="submit" />or make changes:
		      </p>
		    {% endif %}
		    {% for field in form %}
		      {% if field.is_hidden %}
		        <div>{{ field }}</div>
		      {% else %}
		        {% if field.errors %}{{ field.errors }}{% endif %}
		        <p
		          {% if field.errors %} class="error"{% endif %}
		          {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}{% ifequal field.name "name" %} style="display:none;"{% endifequal %}{% ifequal field.name "email" %} style="display:none;"{% endifequal %}{% ifequal field.name "url" %} style="display:none;"{% endifequal %}>
		          {{ field }}
		        </p>
		      {% endif %}
		    {% endfor %}
		    <p class="submit">
		    <input type="submit" name="submit" class="submit-post" value="Post" />
		    <input type="submit" name="preview" class="submit-preview" value="Preview" />
		    </p>
		  </form>
          </div>
{% endblock %}

{% block page_js %}
    <script src="{% static "js/dyn/srs_post_comment.js" %}"></script>
{% endblock %}
