[Unit]
Description=replays.springrts.com daemon
After=network.target

[Service]
PIDFile=/run/replays/pid
User=replays
Group=replays
RuntimeDirectory=replays
WorkingDirectory=/var/www/servers/replays.springrts.com/spring-replay-site
ExecStart=/home/replays/venv/bin/gunicorn --pid /run/replays/pid --config /var/www/servers/replays.springrts.com/spring-replay-site/setup/gunicorn_conf.py spring_replay_site.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
